<div class="flex flex-column p-2">

  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de héroes</mat-label>
    <input type="text"
    matInput
    [formControl]="searchInput"
    [matAutocomplete]="auto"
    (keyup)="searchHero($event)"
    >

    <mat-autocomplete autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onSelectedOption($event)">
      <mat-option *ngFor="let hero of filteredHeroList" [value]="hero">
        {{hero.superhero | titlecase}}
      </mat-option>
      <mat-option *ngIf="filteredHeroList.length === 0 && searchInput.value && searchInput.value.length > 0">
        No se ha encontrado nada con el término "<strong>{{searchInput.value}}</strong>"
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
